/* styles/Navbar.css */
nav {
  background-color: #ffffff00; /* กำหนดพื้นหลังของ Navbar เป็นโปร่งใส */
  color: rgb(254, 104, 104); /* กำหนดสีตัวอักษรเป็นสีแดง */
  padding: 0rem 0; /* กำหนด padding ด้านบนและล่างให้เป็น 0 เพื่อลดระยะห่าง */
}

nav ul {
  list-style-type: none; /* ลบสัญลักษณ์ bullet point ของรายการ */
  display: flex; /* จัดเรียงรายการภายในเป็นแนวนอน */
  align-items: center; /* จัดให้อยู่ตรงกลางแนวตั้ง */
  gap: 0rem; /* ลดช่องว่างระหว่างแต่ละรายการ */
  margin: 0; /* ตั้งค่า margin เป็น 0 เพื่อลดระยะห่าง */
  padding: 0; /* ตั้งค่า padding เป็น 0 เพื่อลดระยะห่าง */
}

nav ul li {
  display: inline; /* จัดรายการเป็นแนวนอน */
}

nav ul li a,
nav ul li button {
  color: #090909; /* สีตัวอักษรเป็นสีดำเข้ม */
  text-decoration: none; /* ลบการขีดเส้นใต้ของลิงก์ */
  font-size: 1.1rem; /* ปรับขนาดตัวอักษรให้ใหญ่ขึ้น */
  line-height: 0; /* ลดความสูงบรรทัดเพื่อให้ตัวอักษรชิดกันมากขึ้น */
  padding: 0 0.5rem; /* เพิ่ม padding ซ้ายขวาเพื่อให้มีช่องว่างระหว่างรายการ */
}

nav ul li button {
  background: none; /* ลบพื้นหลังของปุ่ม */
  border: none; /* ลบเส้นขอบของปุ่ม */
  cursor: pointer; /* เปลี่ยนเคอร์เซอร์เป็น pointer เมื่อวางบนปุ่ม */
}

nav ul li a:hover,
nav ul li button:hover {
  text-decoration: underline; /* ขีดเส้นใต้เมื่อวางเมาส์บนลิงก์หรือลงบนปุ่ม */
}

/* ตั้งค่าโลโก้ */
.navbar-logo {
  width: 100px; /* กำหนดความกว้างของโลโก้ */
  height: auto; /* ปรับความสูงตามสัดส่วนของโลโก้ */
  margin-left: 0; /* ให้โลโก้อยู่ชิดขอบซ้ายสุด */
  margin-right: 0; /* ไม่มีช่องว่างด้านขวาของโลโก้ */
  margin-top: 1.5px;
  padding-left: 0rem; /* ให้โลโก้อยู่ชิดขอบด้านซ้ายที่สุด */
  vertical-align: middle; /* จัดโลโก้ให้อยู่ตรงกลางแนวตั้ง */
}
